body{
    background-image: url('../img/bg.png');
}

.bordered{
    border-bottom: 1px solid;
    border-color: darkgray;
}

#name {
    height: 26px;
    width: 615px;
    margin: auto;
    margin-top: 42px;
    margin-bottom: 24px;
}

#name h1{
    font-family: "Arial", sans-serif;
    font-size: 36px;
}

#pic{
    margin: auto;
    margin-top: 37px;
    margin-bottom: 20px;
    height: 202px;
    width: 202px;
}

#pic-descr{
    margin: auto;
    margin-top: 22px;
    padding-bottom: 8px;
    width: 650px;
    color: #1f1f1f;
    font-size: 12px;
    font-family: "Arial", sans-serif;
}

#descr{
    margin: auto;
    width: 650px;
    font-size: 14px;
    font-family: "MyriadPro", sans-serif;
}

#list{
    margin-left: 23px;
    margin-top: -1px;
}

#descr ul{
    font-size: 12px;
    padding: 6px;
    padding-bottom: 4px;

}

#descr li{
    padding: 2px;
    padding-right: 20px;
}

#contact{
    margin: auto;
    width: 650px;
    font-size: 14px;
    font-family: "MyriadPro", sans-serif;
}

#contact p{
    padding-left: 35px;
    padding-top: 6px;
}

#contact a{
    font-style: italic;
    padding-left: 10px;
}

#othercnt {
    margin-top: -3px;
}

#exp{
    margin: auto;
    margin-top: -7px;
    width: 650px;
    font-size: 14px;
    font-family: "MyriadPro", sans-serif;
}

#exp p{
    padding-left: 40px;
    padding-top: 3px;
}